{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age18qwh4g4s9uhpx07wmsskwlnaq6scdkjx74cfwq6wrwlcjg0yes8sas063l"
