{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1a7ekknz4t6v86mrm7m9plucfsu6sjza7xf06jd87rmjszrtw497q0wkqlj"
